* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background: #fff;
}

p {
  @apply text-[#636262];
}

button {
  @apply flex items-center justify-center h-12 bg-black rounded-md text-white font-medium text-base px-5;

  &.secondary {
    @apply bg-inherit border border-black text-black font-semibold;
  }

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

input {
  @apply h-12 px-5 rounded-md border border-black w-full;

  &:focus {
    @apply outline-none;
  }

  &::placeholder {
    @apply text-[#636262];
  }

  &.form__input {
    @apply h-14 border-none bg-white;
  }
}

.contain {
  @apply px-6 xl:px-32;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
